@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #dbdbdb;
}

.container{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "h h h h h h h h n n n n"
    "m m m m m m m m m m m m"
    "f f f f f f f f l l l l";
    flex-wrap: wrap;
}

header{
    grid-area: h;
    background-color: #00B0E8;
    width: 100%;
    padding: 10px;
}

aside{
    grid-area: n;
    background-color: #00B0E8;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.container> .logoextensa{
    width: 200px;
}

.itens{
    display: flex;
    column-gap: 10px;
}

.itens> i{
    font-size: 2rem;
}

main{
    grid-area: m;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

nav> input{
    min-width: 300px;
    min-height: 20px;
    border-radius: 20px;
}

.line{
    background-color: #B4B4B4;
    height: 5px;
    width: 80%;
}

.botoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
}

footer{
    grid-area: f;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-left: 10px;
    align-items: center;
    column-gap: 10px;
    background-color: #208CAF;
}

.logo{
    grid-area: l;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #208CAF;
}

.logo > img {
    height: 100px;
    min-height: 50px;
}

.btn01{
    background-color: #E3BE39;
    font-size: 1rem;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
}

.btn01:hover{
    background-color: #fdde6b;
}

.cardbtn{
    background-color: #ffffff;
}
.cardadd:hover{
    background-color: #ffffffd8;
}

@media (max-width: 900px){
    .container{
        display: grid;
        grid-template-columns: 8fr;
        grid-template-rows: auto auto;
        grid-template-areas:
        "h h h h h h n h"
        "m m m m m m m m"
        "f f f f f f f f";
    }

    .logoextensa> img{
        width: 50px;
    }

    nav{
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    nav> input{
        min-width: 270px;
    }
}